# 101 Digital OAuth2 credentials
DIGITAL_CLIENT_ID=your_client_id_here
DIGITAL_CLIENT_SECRET=your_client_secret_here

# 101 Digital API base URLs (two separate hosts)
DIGITAL_AUTH_BASE_URL=https://is-wso2-dev.101digital.io
DIGITAL_API_BASE_URL=https://api-neobank-dev.101digital.io
